<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Financial Dashboard</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="d-flex flex-wrap mb-4 align-items-center justify-content-between">
            <div class="card w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h1 class="fw-medium display-6 mb-0">Income and Expenses</h1>
                </div>
                <div class="card-body">
                    <div class="chart-container" style="position: relative; height:50vh; width:50vw">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="fw-medium display-6 mb-0 text-nowrap">Total Income</h2>
                        </div>
                        <div class="card-body fw-bold">
                            <span class="fs-4 fw-semibold">$</span><span th:text="${totalIncome}"
                                class="fs-2 fw-bold"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="fw-medium display-6 mb-0 text-nowrap">Total Expenses</h2>
                        </div>
                        <div class="card-body fw-bold">
                            <span class="fs-4 fw-semibold">$</span><span th:text="${totalExpenses}"
                                class="fs-2 fw-bold"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="fw-medium display-6 mb-0 text-nowrap">Difference</h2>
                        </div>
                        <div class="card-body fw-bold">
                            <span class="fs-4 fw-semibold">$</span><span th:text="${totalDifference}"
                                class="fs-2 fw-bold"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- https://stackoverflow.com/questions/27176640/how-to-put-code-thymeleaf-in-an-external-javascript-file -->
        <script th:replace="dashboard/barchartjs :: js_chart"></script>
    </div>
</body>

</html>